@import "tailwindcss";

@theme {
  --color-herobackground: #fbf7f4;
  --color-herobackgroundhover: #f6f0eb;
  --color-herotext: #332E2E;
  --color-wavebackground: #00000046;
  --color-primary: #607f05;
  --color-primary-hover: #4f6c00;

  --color-cardbackground: #f8fdeb;
  --color-cardbackgroundhover: #f1f8e0;

  --color-test: #e8f1ce;
  --color-big-headline: #2e2e2e;
}

:root {
  
  --background: #fbf7f4;
  --foreground: #171717;
  --color-test: #e8f1ce;

  
  overflow-x: hidden;

  --elastic-out: linear(
      0,
      0.2178 2.1%,
      1.1144 8.49%,
      1.2959 10.7%,
      1.3463 11.81%,
      1.3705 12.94%,
      1.3726,
      1.3643 14.48%,
      1.3151 16.2%,
      1.0317 21.81%,
      0.941 24.01%,
      0.8912 25.91%,
      0.8694 27.84%,
      0.8698 29.21%,
      0.8824 30.71%,
      1.0122 38.33%,
      1.0357,
      1.046 42.71%,
      1.0416 45.7%,
      0.9961 53.26%,
      0.9839 57.54%,
      0.9853 60.71%,
      1.0012 68.14%,
      1.0056 72.24%,
      0.9981 86.66%,
      1
    );
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

 .speechbubble:after {
  z-index: 999;
  content: "";
  position: absolute;
  top: 0;
  margin-left: -20px;
  margin-top: -20px;
  left: 50%;
  height: 40px;
  width: 40px;
  box-shadow: none;
  text-shadow: none;
  background: var(--color-herobackgroundhover);
  transform: rotate(45deg);
  border-top:inherit;
  border-left:inherit;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
  
@media screen and (max-width: 640px) {
  .speechbubble:after {
    left: 17%;
  }
  
}

.fade-out-container {
  mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000)
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.autoscroll {
  animation: scroll 45s linear infinite;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% + 32px - 8px));
  }
}

.bounce {
  transition: all 1s var(--elastic-out);
}

.textreadabilityGradient {
  background:

    linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.005) 8.1%,
      hsla(0, 0%, 0%, 0.019) 15.5%,
      hsla(0, 0%, 0%, 0.042) 22.5%,
      hsla(0, 0%, 0%, 0.07) 29%,
      hsla(0, 0%, 0%, 0.104) 35.3%,
      hsla(0, 0%, 0%, 0.141) 41.2%,
      hsla(0, 0%, 0%, 0.18) 47.1%,
      hsla(0, 0%, 0%, 0.22) 52.9%,
      hsla(0, 0%, 0%, 0.259) 58.8%,
      hsla(0, 0%, 0%, 0.296) 64.7%,
      hsla(0, 0%, 0%, 0.33) 71%,
      hsla(0, 0%, 0%, 0.358) 77.5%,
      hsla(0, 0%, 0%, 0.381) 84.5%,
      hsla(0, 0%, 0%, 0.395) 91.9%,
      hsla(0, 0%, 0%, 0.4) 100%
    );
  
};

.cvGradient {

  
  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.008) 9.5%,
      hsla(0, 0%, 0%, 0.029) 17.5%,
      hsla(0, 0%, 0%, 0.063) 24.2%,
      hsla(0, 0%, 0%, 0.106) 29.9%,
      hsla(0, 0%, 0%, 0.158) 34.8%,
      hsla(0, 0%, 0%, 0.217) 39.2%,
      hsla(0, 0%, 0%, 0.28) 43.4%,
      hsla(0, 0%, 0%, 0.346) 47.6%,
      hsla(0, 0%, 0%, 0.413) 52.1%,
      hsla(0, 0%, 0%, 0.479) 57.2%,
      hsla(0, 0%, 0%, 0.542) 63.1%,
      hsla(0, 0%, 0%, 0.601) 70%,
      hsla(0, 0%, 0%, 0.653) 78.3%,
      hsla(0, 0%, 0%, 0.697) 88.2%,
      hsla(0, 0%, 0%, 0.73) 100%
    );
  
  };
